*{
    margin: auto; 
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
    
}
.pagina1{
    
    margin: 0 0px;
    
   
}

:root {
    --text-primary-color: #1b1b1b;
    --titles-primary-color: #008458;
    --secondary-text-color: #fff;
    --dark-background-color: #d3d4d5;
}
/* ---------- first banner ---------- */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}
.logo{
    width: 25%;
}
.logo img{
    width: 100%;
}
.search{
    display: flex;
    justify-content: center;
    width: 45%;
    align-items: center;
    gap: 5px;
}
.search input{
    border: none;
    width: 55%;
    border-radius: 20px;
    height: 25px; 
    padding: 10px;
    background-color: var(--titles-primary-color);
}
::placeholder{
    color: var(--secondary-text-color);
}
.allsections{
    display: flex;
    width: 30%;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
}
.allsections a{
    text-decoration: none;
    color: var(--text-primary-color);
}
.icon{
    display: flex;
    gap: 5px;
    color: var(--text-primary-color);
}
.final{
    margin-top: 20px;
    height: 250px; 
    
    display: flex;
    background-color: #008458;
    justify-content: center;
    align-items: center;
}
.final .ultimobanner p{
    justify-content: center;
    font-size: 10px;
    color: white;
    margin-top: 10px;
    
}
.banner a:hover{
    
    color: #008458;
}
.final .ultimobanner img{
    width: 250px;
    display: flex;

}
.final .ultimobanner p{
    display: flex; 
    text-align: center;


}
.allsections .icon i:hover{
    color:#008458;
}
.informacion .info{
    padding: 3% 3%;
}
.texto3{
    display: flex;
    width: 100%;
    padding: 20px 20px;
    flex-direction: column;
}
.texto3 img{
    margin-top: 40px;
    display: flex;
    width: 250px;
    
}
.texto3 h2{
    color: #008458;
    font-weight:750;
}
.texto4 h2{
    margin-top: 40px;
}
.banner2 img{
    width: 100%;
}
.map {
    height: 400px;
    width: 100%;
  }